@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "tailwindcss";

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;

  background: var(--color-background);
  color: var(--color-foreground);

  font-family: "Poppins", sans-serif;
}

@theme {
  --color-background: #0d1117;
  --color-foreground: #f0f6fc;

  --color-card: #161b22;
  --color-border: #30363d;
  --color-input: #0d1117;

  --color-primary: #238636;
  --color-primary-foreground: #ffffff;

  --color-muted-foreground: #8b949e;
  --color-ring: #388bfd;
}
